#stage
  - 5.times do |col_number|
    .col{:class => 'col-' + col_number.to_s}
      - 4.times do |slide_number|
        .slide{:id => 'col-' + col_number.to_s + '-slide-' + slide_number.to_s}
          .content

:javascript
  // Sub-optimal globals, but whatevz.
  var ZAPPOS_API_KEY = '1036d75d74f2ed2b0b5a3beabf0e36bec8149ae2',
      FLICKR_API_KEY = '3a4e62555f54699d49fec517c8de22b4';
  
  $LAB.script('//ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js')
    .wait()
    .script('/javascript/application.js')
    .script('/javascript/slide-helper.js')
    .script('/javascript/data-source.js')
    .script('/javascript/core-values.js')
    .wait()
    .script('/javascript/recent-purchases.js')
    .script('/javascript/pictures.js')
    .script('/javascript/tweets.js');