!!!5
%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Zappenstein
    %link{:rel => 'stylesheet', :href => '/application.css'}
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Merriweather:regular,bold'}
    %script{:src => '/javascript/LAB.min.js'}
  %body
    %header
      %section
        %h1 Zappenstein
    %section
      = yield
    %footer
      #core_values
        Core Values Frog sez you should 
        %span