!!!5
%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Zappenstein
    %link{:rel => 'stylesheet', :href => '/application.css'}
    %script{:src => '/javascript/LAB.min.js'}
  %body
    %header
      %section
        %h1 Zappenstein
    %section
      = yield