#stage {
  @include webkit-3d-junk;
  overflow: hidden;
  padding-bottom: 20px;
  
  .col {
    width: 263px;
    margin-right: 20px;
    float: left;
    &:first-child {
      margin-left: 2px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.slide {
  margin: 20px 0;
  height: 200px;
  position: relative;
  
  @include box-shadow(1px, 1px, 2px, rgba(57, 57, 57, 0.40));
  background: #ccc;
    
  &.z {
    padding-top: 35px;
    height: 165px;
    
    font-family: 'BebasNeue';
    font-size: 10em;
    color: #aaa;
    text-shadow: -1px -1px 0px #333;
    text-align: center;
    
    &:before {
      content: 'Z';
    }
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.7s;
  }
  
  &.contentChange .content {
    opacity: 0;
  }
}

.col:nth-child(1) .slide {
  -webkit-transform: rotateY(8deg);
}
.col:nth-child(2) .slide {
  -webkit-transform: translateZ(-33px) rotateY(6deg);
}    
.col:nth-child(3) .slide {
  -webkit-transform: translateZ(-50px);
}
.col:nth-child(4) .slide {
  -webkit-transform: translateZ(-33px) rotateY(-6deg);
}
.col:nth-child(5) .slide {
  -webkit-transform: rotateY(-8deg);
}