#stage {
  @include webkit-3d-junk;
  padding: 10px 20px;
  overflow: hidden;
  -webkit-user-select: none;
  
  .col {
    width: 263px;
    margin-right: 20px;
    float: left;
    &:first-child {
      margin-left: 2px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.slide {
  margin: 20px 0;
  height: 200px;
  position: relative;
  overflow: hidden;
  
  @include box-shadow(1px, 1px, 2px, rgba(57, 57, 57, 0.40));
  background: #ccc url(/images/zappos-z.png) no-repeat center center;
  
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.7s;
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 263px;
    height: 200px;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.7s;
  }
  
  &.contentChange .content {
    opacity: 0;
  }
}

html.csstransforms3d body.my-3d-glasses-are-on {
  .col:nth-child(1) .slide {
    -webkit-transform: rotateY(8deg);
  }
  .col:nth-child(2) .slide {
    -webkit-transform: translateZ(-33px) rotateY(6deg);
  }    
  .col:nth-child(3) .slide {
    -webkit-transform: translateZ(-50px);
  }
  .col:nth-child(4) .slide {
    -webkit-transform: translateZ(-33px) rotateY(-6deg);
  }
  .col:nth-child(5) .slide {
    -webkit-transform: rotateY(-8deg);
  }
}