@mixin box-shadow($horz: 1, $vert: 1, $dist: 1, $color: 'black') {
  box-shadow: $horz $vert $dist $color;
  -moz-box-shadow: $horz $vert $dist $color;
  -webkit-box-shadow: $horz $vert $dist $color;
}

@mixin webkit-3d-junk {
  -webkit-perspective: 700;
  -webkit-perspective-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
}