.productBar {
  background: rgba(57, 57, 57, .60);
  position: absolute;
  bottom: 0;
  width: 244px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 1px #333;
  font-weight: bold;
  
  img {
    max-height: 40px;
    border-radius: 10px;
    display: block;
    float: left;
    margin-right: 10px;
  }
  div.productInfo {
    float: left;
    div {
      width: 180px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  a {
    color: white;
  }
}

.purchase.content {
  .staticMap {
    position: absolute;
    top: 0;
  }
}

.picture.content {
  .img {
    height: 200px;
    width: 263px;
  }
}