.productBar {
  background: rgba(57, 57, 57, .60);
  position: absolute;
  bottom: 0;
  width: 244px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 1px #333;
  font-weight: bold;
  
  img {
    max-height: 40px;
    border-radius: 10px;
    display: block;
    float: left;
    margin-right: 10px;
  }
  div.productInfo {
    float: left;
    div {
      width: 180px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  a {
    color: white;
  }
}

.purchase.content {
  .staticMap {
    position: absolute;
    top: 0;
  }
}

.picture.content {
  .img {
    height: 200px;
    width: 263px;
  }
}

.tweet.content {
  height: 200px;
  width: 264px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.35, rgb(235,235,235)),
    color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(235,235,235) 35%,
    rgb(255,255,255) 100%
  );
    
  .tweetText {
    padding: 10px;
    
    color: #033649;
    text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.33);
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Merriweather', sans-serif;
    line-height: 1.6em;
  }
}